#doc {
    width: 80%;
    height: 470px;
    margin: auto;
    display: block;
    margin-top: 50px;
    border-style: solid;
    border-color: white;
}

#register-tag {
    margin-top: 10%;
}

#file-card {
    border-style: solid;
    border-color: black;
    height: 30%;
    border-width: 1px;
    background-color: white;
    border-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

#auth-form {
    margin-top: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
}

#primary-button {
    border-style: solid;
    border-color: #0051FF;
    background-color: #0051FF;
    font-size: 20px;
    padding: 5px 10px 5px;
    color: white;
}

#primary-button:hover {
    border-color: #0051FF;
    background-color: white;
    color: #0051FF;
}

#primary-button1 {
    border-style: solid;
    border-color: #0051FF;
    background-color: #0051FF;
    font-size: 20px;
    padding: 5px 10px 5px;
    color: white;
    border-radius: 3px;
    margin: 20px;
    margin-left: 10%;
    display: block;
}

#primary-button1:hover {
    border-color: #0051FF;
    background-color: white;
    color: #0051FF;
}

#auth-form input {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    margin: 5px;
    margin-left: 0px;
}

body {
    background-color: #FFABAB;
}